* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

header {
  background-image: url("poster.png");
  height: 300px;
  background-size: contain;
  background-color: #ffd052;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  header {
    background-size: cover;
  }
}

/* HEADER TEXT*/

body {
  background: #ffd052;
}

.header {
  font-family: "Exo 2", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.sweet-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #289dca, 2px 2px 1px #777878, 4px 2px 1px #289dca,
    3px 3px 1px #777878, 5px 3px 1px #289dca, 4px 4px 1px #777878,
    6px 4px 1px #289dca, 5px 5px 1px #777878, 7px 5px 1px #289dca,
    6px 6px 1px #777878, 8px 6px 1px #289dca, 7px 7px 1px #777878,
    9px 7px 1px #289dca;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #777878, -1px -1px 1px #777878,
        -2px 2px 1px #777878, 1px -1px 1px #289dca;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}

/* CARDS */

h2 {
  font-size: 30px;
}
#container {
  width: 500px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.card {
  margin: 0 30px;
  height: 600px;
  width: 350px;
  background-color: #fff;
  border: 5px solid rgb(61, 60, 60);
  box-shadow: 0 0 0 7px #fff, 0 0 8px 5px #008cff;
}
.card-image {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #424141;
  z-index: 1;
}
.card-image > img {
  position: absolute;
  z-index: 2;
  height: 100%;
}
#random-beer > .card-image {
  height: 55%;
}
#random-beer > .card-image > img {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  color: #030300;
  text-align: center;
  margin-top: 10px;
}
#random-beer p {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
#random-beer > .card-text {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text > div {
  display: flex;
  justify-content: space-between;
}
#random-beer > .card-text > div > div {
  display: flex;
  padding: 0 20px;
  text-wrap: nowrap;
  width: 100%;
  margin-left: 150px;
}
#random-beer > .card-text > div > div > span {
  flex: 1;
  font-size: 1.2rem;
  align-self: flex-end;
  margin-bottom: 12px;
  font-weight: 500;
  color: #777878;
}
#random-beer > .card-text > div > .more:hover > span {
  color: #030300;
}
#random-beer > .card-text > div > .more:active > span {
  color: #ffd052;
}
#random-beer > .card-text > div > div > .see-more {
  font-size: 3rem;
  align-self: flex-end;
  margin-bottom: 0;
}
.see-more {
  justify-self: flex-end;
  text-align: right;
}

.more {
  cursor: pointer;
  color: #777878;
}

.random-beer-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.left-arrow,
.right-arrow {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 200px;
}

.right-arrow {
  justify-self: flex-end;
}

.left-arrow svg,
.right-arrow svg {
  width: 200px;
}

.left-arrow span,
.right-arrow span {
  position: relative;
  top: 108px;
  font-weight: 600;
}

.left-arrow span {
  left: 50px;
}

.right-arrow span {
  left: 40px;
}

.left-arrow:hover,
.right-arrow:hover {
  color: #ffd052;
}

.hider {
  display: none;
}
